# LDAP配置
LDAP_SERVER=your_ldap_server_address
LDAP_PORT=389
LDAP_BASE_DN=DC=example,DC=com
LDAP_USER_DN=CN=admin,CN=Users,DC=example,DC=com
LDAP_PASSWORD=your_ldap_admin_password

# SMTP配置
SMTP_SERVER=your_smtp_server
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password

# 服务器配置
SERVER_IP=localhost